body{
    margin: 0px;
}


header{
grid-area: header;
background-color: white;
height: 60px;
}

menu{
grid-area: menu;
background-color:#A1E283;
margin: 0px;
padding: 0px;
}
.menu-categoria{
    padding-left: 10px;
}
i {
    font-size: small;
    margin: 10px;
}
.grid-container{
    display: grid;
    grid-template-areas: "header header"
    "menu main"
    "footer footer";
    gap: px;
}
.main-container{
    padding: 30px;
    grid-area: main-container;
    display: grid;
    grid-template-columns: auto auto auto auto ;
    justify-items: center;
    align-items: center;
    row-gap: 30px;
    column-gap: 15px;s
}

.grid-item {
    height: 300px;
    width: 250px;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    filter: grayscale(100%);
    padding-bottom: 10px;
}


.card:hover {
    filter: grayscale(0%);
}


button {
    background-color: #A1E283;
    border-color: #A1E283;
    color: #fff;
    padding: 0;
    height: 30px;
    width: 100px;
    border-radius: 20px;
    transition: background-color 0,2s steps(5);
    cursor:pointer
}
button:hover {
background-color: rgb(255, 140, 0);
}

footer{
    grid-area: footer;
    background-color:#377E17;
    height: 180px;
    margin: 0px;
}
.iconos {
    margin: 0px;
}

footer i {
    width: 30px;
    font-size: 20px
   
}
p{
    margin: 0px;
}